
.learn-more-button {
	border: solid #efefef 1px;
	width: 200px;
	text-align: center;
	padding: 10px;
	margin: 15px auto 15px auto;
	color:#efefef;
	transition:all 0.3s;
	cursor:pointer;

	&:hover {
	  	background-color:#ED861D;
	}

	@include bp-tablet {
		font-size: 1.3em;
	}

}